.right-part {
    flex: 1.5;
    flex-direction: column;

    display: flex;

    background-color: rgb(32, 33, 35);
    color: rgb(231, 231, 238);

    overflow: hidden;
    overflow-wrap: break-word;
}

.description-box {
    margin: 8px;
}

.description-title {
    margin-top: 0px;
}

.copy-prompt-button {
    margin: 8px;
}