.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-part {
    flex: 1.5;
    background-color: blue;
}

.central-part {
    flex: 4;
    background-color: red;
}

.right-part {
    flex: 1.5;
    background-color: rgb(0, 255, 136);
}