.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.description-box {
    flex: 1;
    background-color: rgb(0, 255, 136);
}

.playground-box {
    flex: 4;
    background-color: red;
}

.list-box {
    flex: 1;
    background-color: blue;
}