.central-part {
    flex: 4;
    background-color: rgb(247, 248, 248);

    overflow-y: auto;
    height: 100vh;
}

.central-part .playground-box {
    flex-direction: column;
    display: flex;

    margin-left: 1em;
    margin-right: 1em;
}